body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #252525;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
}

.confirmation-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmation-message h1 {
    color: #F24F17;
    margin-bottom: 20px;
}

.confirmation-message ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.confirmation-message ul li {
    margin-bottom: 10px;
}

.confirmation-message p {
    margin-bottom: 20px;
}

.btn-orange {
    background-color: #F24F17;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}

.btn-orange:hover {
    background-color: #e64a19;
}